body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.white-link a:link,
.white-link a:visited {
  color: white;
}

.delete-transaction-button {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.close-account-button {
  background: none;
  border: none;
  padding: 0;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.account-li {
  margin-bottom: 10px;
}
